
.footer {
    background-color:#6b4039;
    color: #e9e5e0;
    padding: 40px 20px;
    text-align: center;
    margin-top: 500px;
    height: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
  }
  
  .footer-container {
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 600px;
   
  }
  
  .footer-column {
    flex: 1;
    min-width: 100px;
    margin-left: 100px;
  
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      min-width: 100%;
      margin-bottom: 20px;
    }
  }
  